<noindex>
    {% set deliveries = reference('delivery', true) %}

    {% for product in catalog_product({'uuid': deliveries.pluck('*.product').flatten().all()}) %}
        <!-- auto generated product options: (uuid:{{ product.uuid }}, external_id:{{ product.external_id }}) -->
        <div data-catalog-item="{{ product.uuid }}" style="display: none;">
            <span data-catalog-item-attr="uuid">{{ product.uuid }}</span>
            <span data-catalog-item-attr="title">{{ product.title }}</span>
            <span data-catalog-item-attr="price">{{ product.getPriceCalculated('price') }}</span>
            <span data-catalog-item-attr="type">{{ product.type }}</span>
        </div>
        <!-- auto generated product options: end -->
    {% endfor %}

    <script>window.catalog.delivery = {{ json_encode(deliveries) }}</script>
</noindex>
