<!-- Start Product -->
<div class="single-product" data-catalog-item>
    <div class="product-image">
        {% include 'mixin/img.twig' with {
            'src': product.images.first().public_path('middle') ?? '/assets/img/no_image.png',
            'title': product.title,
            'alt': product.title,
            'style': 'height: 288px; object-fit: contain;'
        } only %}

        {% if product.discount %}
            <span class="sale-tag">$&dash;{{ product.discount }}</span>
        {% endif %}
        {% if product.special %}
            <span class="new-tag">Special</span>
        {% endif %}

        <div class="button">
            {# add attr data-catalog-item-add to btn #}
            <a href="javascript:void(0)" class="btn" data-catalog-item-add><i class="lni lni-cart"></i> Add to Cart</a>
        </div>
    </div>
    <div class="product-info">
        <span class="category">{{ product.category.title }}</span>
        <h4 class="title">
            <a href="/catalog/{{ product.address }}">{{ product.title }}</a>
        </h4>
        <div class="price">
            <span>${{ product.price(catalog_product_price_type()) }}</span>
        </div>
    </div>

    {# include product options #}
    {% include 'catalog.product.options.twig' with {'categories': categories, 'product': product, 'user': user} only %}
</div>
<!-- End Product -->
