{% extends 'main.twig' %}

{% block title %}{{ product.meta.title ? product.meta.title : (product.title ?? 'Product') }} | {{ parent() }}{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="description" content="{{ product.meta.description }}">
    <meta name="keywords" content="{{ product.meta.keywords }}">
{% endblock %}

{% block page %}
    <script>
        window.catalog = {
            events: {
                'on:cart:add': (new_item) => {
                    Swal.fire({
                        title: 'Product added to cart',
                        text: new_item.title + ' (x' + new_item.quantity + ') now in cart.',
                        icon: 'success',
                        showCancelButton: true,
                        cancelButtonText: 'Continue shopping',
                        cancelButtonColor: '#0167F3',
                        confirmButtonText: 'Checkout',
                        confirmButtonColor: '#081828'
                    }).then((result) => {
                        if (result.value) {
                            location.href = '/cart';
                        }
                    });
                },
                'on:cart:update': (updated_item) => {
                    Swal.fire({
                        title: 'Cart updated',
                        text: updated_item.title + ' (x' + updated_item.quantity + ')',
                        icon: 'success',
                        showCancelButton: true,
                        cancelButtonText: 'Continue shopping',
                        cancelButtonColor: '#0167F3',
                        confirmButtonText: 'Checkout',
                        confirmButtonColor: '#081828'
                    }).then((result) => {
                        if (result.value) {
                            location.href = '/cart';
                        }
                    });
                }
            }
        }
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            $('a.img').fancybox();
        })
    </script>

    {% include 'common/breadcrumbs.twig' with {
        'catalog': 'Catalog',
        'parents': category.parents(),
        'title': product.meta.title ? product.meta.title : (product.title ?? 'Product')
    } %}

    <!-- Start Item Details -->
    <section class="item-details section">
        <div class="container" data-catalog-item>
            <div class="top-area">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12 col-12">
                        <div class="product-images">
                            <main id="gallery">
                                <div class="main-img">
                                    {% include 'mixin/picture.twig' with {
                                        'file': product.images.first(),
                                        'id': 'current',
                                        'title': product.title,
                                        'alt': product.title,
                                    } %}
                                </div>
                                <div class="images">
                                    {% for index, file in product.images %}
                                        <a href="{{ file.public_path('full') }}" data-fancybox="group" class="img">
                                            {% include 'mixin/picture.twig' with {
                                                'file': file,
                                                'title': product.title,
                                                'alt': product.title ~ ' ' ~ index
                                            } %}
                                        </a>
                                    {% endfor %}
                                </div>
                            </main>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-12">
                        <div class="product-info">
                            <h2 class="title">{{ product.title }} {% if product.special %}[Акция]{% endif %}</h2>
                            <p class="category">
                                {% for tag in product.tags %}
                                    <i class="lni lni-tag"></i>
                                    {{ tag }}
                                {% endfor %}

                                <a href="/catalog/{{ category.address }}">{{ category.title }}</a>
                            </p>

                            <h3 class="price">
                                {% set price = product.price(catalog_product_price_type()) %}
                                {% if product.discount %}
                                    ${{ price }}
                                    <span>${{ price + product.discount }}</span>
                                {% else %}
                                    ${{ price }}
                                {% endif %}
                            </h3>
                            {% set lowest_price = product.price_lowest() %}
                            {% if lowest_price %}
                                <small>Lowest Price in the Last 30 Days: ${{ product.price_lowest() }}</small>
                            {% endif %}

                            {% if product.extra %}
                                <p class="info-text">{{ product.extra|raw }}</p>
                            {% endif %}

                            <div class="bottom-content">
                                <div class="row align-items-end">
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group quantity">
                                            <label for="quantity">Quantity</label>
                                            {# add attr data-catalog-item-attr="quantity" to quantity input #}
                                            <input type="number"
                                                   class="form-control"
                                                   id="quantity"
                                                   data-catalog-item-attr="quantity"
                                                   value="{{ product.quantityMin }}"
                                                   min="{{ product.quantityMin }}"
                                                   step="{{ product.quantity }}"
                                            >
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="button cart-button">
                                            {# add attr data-catalog-item-add to btn #}
                                            <button class="btn" style="width: 100%;" data-catalog-item-add>Add to Cart</button>
                                        </div>
                                    </div>
                                </div>

                                {# include product options #}
                                {% include 'catalog.product.options.twig' with {'categories': categories, 'product': product, 'user': user} only %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="product-details-info">
                <div class="single-block">
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <div class="info-body custom-responsive-margin">
                                <h4>Details</h4>
                                <p>{{ product.description|raw }}</p>

                                <h4>Specifications</h4>
                                <ul class="normal-list">
                                    {% if product.country %}<li><span>Country:</span> {{ product.country }}</li>{% endif %}
                                    {% if product.manufacturer %}<li><span>Manufacturer:</span> {{ product.manufacturer }}</li>{% endif %}
                                    {% if product.vendorcode %}<li><span>Vendorcode:</span> {{ product.vendorcode }}</li>{% endif %}
                                    {% if product.barcode %}<li><span>Barcode:</span> {{ product.barcode }}</li>{% endif %}
                                    {% if product.dimension.weight_class %}<li><span>Volume:</span> {{ product.weightWithClass() }}</li>{% endif %}
                                    {% if product.stock %}<li><span>Stock</span>: {{ product.stock > 0 ? '<span>In stock</span>' : '<span>Out of stock</span>' }}</li>{% endif %}
                                    {% if product.tax %}<li><span>Tax</span>: {{ product.tax }}</li>{% endif %}
                                    {% if product.dimension.length_class %}<li><span>Dimension</span>: {{ product.specificationWithClass() }}</li>{% endif %}
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 col-12">
                            <div class="info-body">
                                <h4>Attributes:</h4>
                                <ul class="normal-list">
                                    {% for attribute in product.attributes %}
                                        <li><span>{{ attribute.title }}</span>: {{ attribute.value() }}</li>
                                    {% endfor %}
                                    {% if product.tax %}<li><span>VAT:</span> ${{ product.tax() }}</li>{% endif %}
                                </ul>
                                {% if product.relations.count() %}
                                    <h4>Related products:</h4>
                                    <ul class="normal-list">
                                        {% for relative in product.relations %}
                                            <li>
                                                <span>
                                                    <a href="/catalog/{{ relative.address }}">
                                                        {{ relative.title }}
                                                    </a>
                                                </span>: ${{ relative.price(catalog_product_price_type()) }} &times; {{ relative.pivot.count }} &equals; ${{ relative.price * relative.pivot.count }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Item Details -->
{% endblock %}
