{% for attribute in category.filtres %}
    {% set values = attribute.values(category) %}

    {% if values.count() %}
        <!-- Start Widget -->
        <div class="single-widget condition">
            <h3>{{ attribute.title }}</h3>

            <ul class="list">
                {% for value, count in values %}
                    <div class="form-check">
                        <input
                           class="form-check-input"
                           type="radio"
                           name="{{ attribute.uuid }}"
                           value="{{ value }}"
                           id="{{ attribute.uuid }}-{{ value }}"
                           onchange="(() => {location = '{{ non_page_path() }}{{ page ? '/' ~ page : '' }}{{ current_query(attribute.address, value|trim) }}'})()"
                           {{ _request[attribute.address] == value ? 'checked' : '' }}
                        />
                        <label class="form-check-label" for="{{ attribute.uuid }}-{{ value }}">
                            {{ value }} ({{ count }})
                        </label>
                    </div>
                {% endfor %}
            </ul>
        </div>
        <!-- End Widget -->
    {% endif %}
{% endfor %}
