<div class="single-blog">
    <div class="blog-img">
        <a href="/{{ item.address }}">
            {% include 'mixin/picture.twig' with {
                'file': item.images.first(),
                'title': item.title,
                'alt': item.title,
                'style': 'display:block; height: 300px; width: 100%; object-fit: contain; object-position: center center;'
            } %}
        </a>
    </div>
    <div class="blog-content">
        {{ item.date|df }} |
        <a class="category" href="/{{ item.category.address }}">{{ item.category.title }}</a> |
        {{ item.user.name('short') }}
        <h4>
            <a href="/{{ item.address }}">{{ item.title }}</a>
        </h4>

        {{ item.content.short|raw }}

        <div class="button">
            <a href="/{{ item.address }}" class="btn">Read More</a>
        </div>
    </div>
</div>
