<!-- Start Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="breadcrumbs-content">
                    <h1 class="page-title">{{ title }}</h1>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <ul class="breadcrumb-nav">
                    <li><a href="/"><i class="lni lni-home"></i> Home</a></li>

                    {% if catalog %}
                        <li>
                            <a href="/catalog">{{ catalog }}</a>
                        </li>
                    {% endif %}

                    {% for item in parents|reverse() %}
                        {% if item.title %}
                            {% if item is instanceof('\\App\\Domain\\Models\\CatalogCategory') %}
                                <li>
                                    <a href="/catalog/{{ item.address }}">{{ item.title }}</a>
                                </li>
                            {% endif %}
                            {% if item is instanceof('\\App\\Domain\\Models\\PublicationCategory') %}
                                <li>
                                    <a href="/{{ item.address }}">{{ item.title }}</a>
                                </li>
                            {% endif %}
                        {% else %}
                            <li>{{ item }}</li>
                        {% endif %}
                    {% endfor %}

                    {% if title %}
                        <li>{{ title }}</li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->
